
$('.errors').hide();
<% if @job_prospect.errors.any? %>
  var errors = $('<ul />');
  <% @job_prospect.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript(error) %></li>');
  <% end %>
  $('.errors').html(errors);
  $('.errors').fadeIn('slow');
  // something to try later can listen for all errors from this page to get output so don't have to ping server and errors are all clientside
<%else%>
	
	$('table#job_prospects_list thead').after("<%= j render @job_prospect%>");
	$('input#job_prospect_company').val("");
	$('input#job_prospect_position').val("");

	$('.create-job-prospect-success').html('\n Job Prospect has been successfully added!');
	$('.create-job-prospect-success').fadeIn('slow');
	$('.create-job-prospect-success').fadeOut('slow');
	$('.form').hide();
	$('.new_job_prospect_button').show();

<%end%>


