$('#<%=@job_prospect.id%>').fadeOut();

var close = '<a class = "close" data-dismiss="alert">&#215;</a>';
$('.delete-job-prospect-success').html(close + '\n Job Prospect has been successfully deleted!');
$('.delete-job-prospect-success').fadeIn('slow');
$('.delete-job-prospect-success').fadeOut('slow');