$('.errors').hide();
<% if @job_prospect.errors.any? %>
  var errors = $('<ul />');
  <% @job_prospect.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript(error) %></li>');
  <% end %>
  $('.errors').html(errors);
  $('.errors').fadeIn('slow');
<%else%>
	$('table#job_prospects_list tbody tr#<%=@job_prospect.id%>').replaceWith("<%= j render(:partial=> 'job_prospect', :locals =>{:job_prospect=> @job_prospect})%>");
	$('input#job_prospect_company').val("");
	$('input#job_prospect_position').val("");

	$('.create-job-prospect-success').html('\n Job Prospect has been successfully updated!');
	$('.create-job-prospect-success').fadeIn('slow');
	$('.create-job-prospect-success').fadeOut('slow');
	$('.form').hide();
	$('.new_job_prospect_button').show();
// hide form and then show button for adding a new role
<%end%>
