<table class = "table">
	<thead>
		<tr>
			<th>Name of Contact</th>
			<th>Company</th>
			<th>Date</th>
			<th>Time</th>
			<th>Contact Info/Address</th>
			<th>Attachment(s)</th>
		</tr>
	</thead>
	<tbody>
		<% @events.each do |e| %>
			<%= render 'events/event', :e => e %>
		<%end%>
	</tbody>
</table>