<h3> Events for <%=@job_prospect.company%></h3>
<%= button_to "New Event", new_job_prospect_event_path, :class => "btn btn-primary", :method => :get %>
<%=render 'shared/events_table', :events => @events%>
<%= will_paginate @events %>
